.containerRoundCounter {
  /* display: flex;
  justify-content: center; */
  width: 54%;
  margin: 20px auto;
}

.counterImg {
  /* position: absolute;
  top: 6%;
  left: 18%;
  width: 65% */
}

.roundCubes {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  margin: 0 8px
}
