@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* * {
  margin: 0;
  padding: 0;
  height: 100%;
} */

/* box-sizing: border-box; */

body {
  background-color: #fdf5e6;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}
