.dice {  
  padding: 4px;  
  /* background-color: rgb(237, 237, 57);   */
  width: 44px;  
  height: 44px;  
  border-radius: 10%;
  margin: 2px;
}

.dot {
  display: block;
  width:  10px;
  height: 10px;
  border-radius: 50%;
  background-color:white;
}

.firstFace {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondFace{
  display: flex;
  justify-content : space-between;
}

.secondFace .dot:nth-of-type(2) {
  align-self: flex-end;
}

.thirdFace{
  display: flex;   
  justify-content : space-between;
}

.thirdFace .dot:nth-of-type(3) {
  align-self: flex-end;
}

.thirdFace .dot:nth-of-type(2) {
  align-self: center;
}

.fourthFace, .sixthFace {
  display: flex;
  justify-content: space-between;
}

.fourthFace .column, .sixthFace .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifthFace {
  display: flex;
  justify-content: space-between;
}

.fifthFace .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifthFace .column:nth-of-type(2) {
  justify-content: center;
  }
