.droppedСubes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid black;
  position: relative;
  /* padding-top: 50px */
}

.diceBtnDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.diceBtn:hover {
  background-color: bisque;
}
.diceBtn:active {
  transition: none;
  font-weight: 700;
}

.containerReserveCube {
  margin: 3px;
  margin-top: 20px;
}


