.droppedСubes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto
}

.diceBtnDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.diceBtn {
  outline: none;
  border: 1px solid black;
  background-color: #fff;
  width: 150px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: .5s;
  margin: 2px auto;
}

.diceBtn:hover {
  background-color: bisque;
}
.diceBtn:active {
  transition: none;
  font-weight: 700;
}


