.container-player-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-btn-other-stained-glass {
  display: flex;
  align-self: flex-end;
  margin: 20px 0;
}

.btn-other-stained-glass {
  outline: none;
  border: 1px solid black;
  background-color: #fff;
  width: 150px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: .5s;
}

.btn-other-stained-glass:hover {
  background-color: bisque;
}
.btn-other-stained-glass:active {
  transition: none;
  font-weight: 700;
}

.btn-other-stained-glass-close {
  border-radius: 3px;
  width: 100px;
}
